*.log
*.tmp
*.swp
npm-debug.log*

.DS_Store
Thumbs.db
.vscode/
.idea/

src/
out/
coverage/
.github/
nodemon.json
.editorconfig

test/
tests/
*.spec.js
*.spec.ts

.git/
.gitignore

.env
.env.*
.env.local
example.env

Dockerfile
.dockerignore
